.w {
    width: 100%;
    height: 100%;
}

body {
    height: 100vh;
    display: grid;
    place-items: center;

    section {
        width: 1240px;
        height: 700px;
        background-color: #deafed;
        overflow: hidden;
        position: relative;

        input {
            display: none;

        }

        .option1:checked~.marker label[for="option1"]::after,
        .option2:checked~.marker label[for="option2"]::after,
        .option3:checked~.marker label[for="option3"]::after,
        .option4:checked~.marker label[for="option4"]::after,
        .option5:checked~.marker label[for="option5"]::after,
        .option6:checked~.marker label[for="option6"]::after{
            width: 100%;
        }

        /* // 控制图片 */
        .option1:checked~.container .items1 {
            visibility: visible;
        }

        .option1:checked~.container .items1 li {
            left: 0;
            opacity: 1;
        }

        /* 第二张 */
        .option2:checked~.container .items2 {
            visibility: visible;
        }

        .option2:checked~.container .items2 li {
            top: 0;
            opacity: 1;
        }

        /* 第三张 */
        .option3:checked~.container .items3 {
            visibility: visible;
        }

        .option3:checked~.container .items3 li {
            transform: rotateY(0deg);
            opacity: 1;
        }

        /* 第四张 */
        .option4:checked~.container .items4 {
            visibility: visible;
        }

        .option4:checked~.container .items4 li {
            transform: translate(0,0);
            opacity: 1;
        }

       
        /* 第五张 */
        .option5:checked~.container .items5 {
            visibility: visible;
        }

        .option5:checked~.container .items5 li {
            left: calc(10% * (var(--i) - 1));
            opacity: 1;
        }

        /* 第六张 */
        .option6:checked~.container .items6 {
            visibility: visible;
        }

        .option6:checked~.container .items6 li {
            transform: translate3d(0,0,0);
            opacity: 1;
        }




        /* 第二按钮 */
        // .option2:checked~.container .items2 {
        //     visibility: visible;
        // }

        // .option2:checked~.container .items1 li:nth-of-type(2n) {
        //     left: 100%;
        //     opacity: 0;
        // }

        // .option2:checked~.container .items1 li:nth-of-type(2n+1) {
        //     left: -100%;
        //     opacity: 0;
        // }

        // /* 第三按钮 */
        // .option3:checked~.container .items3 {
        //     visibility: visible;
        // }

        // .option3:checked~.container .items2 li:nth-of-type(2n) {
        //     top: 100%;
        //     opacity: 0;
        // }

        // .option3:checked~.container .items2 li:nth-of-type(2n+1) {
        //     top: -100%;
        //     opacity: 0;
        // }

        // /* 第四按钮 */
        // .option4:checked~.container .items4 {
        //     visibility: visible;
        // }
        // .option4:checked~.container .items3 li{
        //     transform: rotateY(-65deg);
        //     opacity: 0;
        // }




        /* 图片 */
        .container {
            position: relative;
            perspective: 2000px;
            /* 第一张 */
            // &:hover .items1 li:nth-of-type(2n) {
            //     left: 100%;
            //     opacity: 0;
            // }

            // &:hover .items1 li:nth-of-type(2n+1) {
            //     left: -100%;
            //     opacity: 0;
            // }
            // /* 第二张 */
            // &:hover .items2 li:nth-of-type(2n) {
            //     top: 100%;
            //     opacity: 0;
            // }

            // &:hover .items2 li:nth-of-type(2n+1) {
            //     top: -100%;
            //     opacity: 0;
            // }
            /* 第三张 */
            // &:hover .items3 li {
            //     transform: rotateY(-65deg);
            //     opacity: 0;
            // }


            .items {
                position: absolute;
                top: 0;
                left: 0;
                visibility: hidden;
                // transition: all .5s;

                &>ul>li {

                    background-size: 1240px 700px;
                    position: absolute;
                }
            }

            .items1{
                z-index: 10;

                &>ul>li {
                    background-image: url("../imges/big412015.jpg");
                    height: 20%;
                    left: 0;
                    opacity: 0;
                    transition: left .5s,opacity .5s;
                }

                li:nth-of-type(1) {
                    top: 0;
                    background-position: 0 0;
                }

                li:nth-of-type(2) {
                    top: 20%;
                    background-position: 0 25%;
                }

                li:nth-of-type(3) {
                    top: 40%;
                    background-position: 0 50%;
                }

                li:nth-of-type(4) {
                    top: 60%;
                    background-position: 0 75%;
                }

                li:nth-of-type(5) {
                    top: 80%;
                    background-position: 0 100%;
                }

                li:nth-of-type(2n) {
                    left: 100%;
                    opacity: 0;
                }

                li:nth-of-type(2n+1) {
                    left: -100%;
                    opacity: 0;
                }
            }

            .items2 {
                z-index: 9;

                &>ul {
                    display: flex;

                    li {
                        background-image: url("../imges/big412014.jpg");
                        width: 20%;
                        top: 0;
                        transition: top .5s,opacity .5s;
                    }

                    li:nth-of-type(1) {
                        left: 0;
                        background-position: 0 0;
                    }

                    li:nth-of-type(2) {
                        left: 20%;
                        background-position: 25% 0;
                    }

                    li:nth-of-type(3) {
                        left: 40%;
                        background-position: 50% 0;
                    }

                    li:nth-of-type(4) {
                        left: 60%;
                        background-position: 75% 0;
                    }

                    li:nth-of-type(5) {
                        left: 80%;
                        background-position: 100% 0;
                    }

                    li:nth-of-type(2n) {
                        top: 100%;
                        opacity: 0;
                    }

                    li:nth-of-type(2n+1) {
                        top: -100%;
                        opacity: 0;
                    }

                }
            }

            .items3 {
                z-index: 8;
                &>ul {
                    display: flex;

                    li {
                        background-image: url("../imges/big412013.jpg");
                        width: 10%;
                        top: 0;
                        transition: transform .5s,opacity .5s;
                        opacity: 0;
                        // transition-delay: calc(.08s * var(--i));
                        transform: rotateY(-65deg);
                    }

                    li:nth-of-type(1) {
                        left: 0;
                        background-position: 0 0;
                        // transition-delay: .1s;
                    }

                    li:nth-of-type(2) {
                        left: 10%;
                        background-position: 11% 0;
                        // transition-delay: .2s;
                    }

                    li:nth-of-type(3) {
                        left: 20%;
                        background-position: 22% 0;
                        // transition-delay: .3s;
                    }

                    li:nth-of-type(4) {
                        left: 30%;
                        background-position: 33% 0;
                        // transition-delay: .4s;
                    }

                    li:nth-of-type(5) {
                        left: 40%;
                        background-position: 44% 0;
                        // transition-delay: .5s;
                    }

                    li:nth-of-type(6) {
                        left: 50%;
                        background-position: 55% 0;
                        // transition-delay: .6s;
                    }

                    li:nth-of-type(7) {
                        left: 60%;
                        background-position: 66% 0;
                    }

                    li:nth-of-type(8) {
                        left: 70%;
                        background-position: 77% 0;
                    }

                    li:nth-of-type(9) {
                        left: 80%;
                        background-position: 88% 0;
                    }

                    li:nth-of-type(10) {
                        left: 90%;
                        background-position: 99% 0;
                    }

                }
            }

            .items4 {
                z-index: 7;
                visibility: visible;
                &>ul {
                    
                    li {
                        background-image: url("../imges/big412006.jpg");
                        width: 10%;
                        height: 100%;
                        left: calc(10% * (var(--i) - 1));
                        background-position: calc(11% * (var(--i) - 1)) 0;
                        transform: translate(50%,-5%);
                        opacity: 0;
                        transition: transform .5s,opacity .5s;
                        transition-delay: calc(.05s * var(--i));
                    }
                    

                }

            }

            .items5 {
                z-index: 6;
                &>ul {
                    
                    li {
                        background-image: url("../imges/big412005.jpg");
                        width: 10%;
                        height: 100%;
                        background-position: calc(11% * (var(--i) - 1)) 0;
                        opacity: 0;
                        transition: left .5s,opacity .5s;
                        transition-delay: calc(.05s * var(--i));
                    }
                    

                }

            }

            .items6 {
                z-index: 5;
                transition-property: 1000px;
                &>ul {
                    
                    li {
                        background-image: url("../imges/big412004.jpg");
                        width: 10%;
                        height: 100%;
                        left: calc(10% * (var(--j) - 1));
                        background-position: calc(11% * (var(--j) - 1)) 0;
                        opacity: 0;
                        transform: translate3d(0,-80px,-80px);
                        transition: left 1s,transform 1s;
                        transition-delay: calc(.1s * var(--i));
                    }
                    // li:nth-of-type(1) {
                    //     background-position: 0 0;
                        
                    // }

                    // li:nth-of-type(2) {
                    //     background-position: 11% 0;
                       
                    // }

                    // li:nth-of-type(3) {
                    //     background-position: 22% 0;
                        
                    // }

                    // li:nth-of-type(4) {
                    //     background-position: 33% 0;
                        
                    // }

                    // li:nth-of-type(5) {
                    //     background-position: 44% 0;
                        
                    // }

                    // li:nth-of-type(6) {
                    //     background-position: 55% 0;
                       
                    // }

                    // li:nth-of-type(7) {
                    //     background-position: 66% 0;
                        
                    // }

                    // li:nth-of-type(8) {
                    //     background-position: 77% 0;
                    // }

                    // li:nth-of-type(9) {
                    //     background-position: 88% 0;
                    // }

                    // li:nth-of-type(10) {
                    //     background-position: 99% 0;
                    // }
                    

                }

            }
        }

        .marker {
            width: 100%;
            height: 10%;
            position: absolute;
            bottom: 0;

            ul {
                height: 100%;
                width: 250px;
                margin: 0 auto;
                display: flex;
                justify-content: center;
                align-items: center;

                li {
                    label {
                        display: block;
                        width: 50px;
                        height: 20px;
                        border-radius: 10px;
                        background-color: rgba(127, 143, 166, 1.0);
                        margin-right: 20px;
                        position: relative;

                        &::after {
                            content: "";
                            position: absolute;
                            width: 0;
                            height: 100%;
                            border-radius: 10px;
                            ;
                            background-color: rgba(34, 47, 62, 1.0);
                            left: 0;
                            transition: width .3s;
                        }
                    }

                }
            }
        }
    }
}