@charset "UTF-8";
.w {
  width: 100%;
  height: 100%;
}

body {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

body section {
  width: 1240px;
  height: 700px;
  background-color: #deafed;
  overflow: hidden;
  position: relative;
  /* // 控制图片 */
  /* 第二张 */
  /* 第三张 */
  /* 第四张 */
  /* 第五张 */
  /* 第六张 */
  /* 第二按钮 */
  /* 图片 */
}

body section input {
  display: none;
}

body section .option1:checked ~ .marker label[for="option1"]::after,
body section .option2:checked ~ .marker label[for="option2"]::after,
body section .option3:checked ~ .marker label[for="option3"]::after,
body section .option4:checked ~ .marker label[for="option4"]::after,
body section .option5:checked ~ .marker label[for="option5"]::after,
body section .option6:checked ~ .marker label[for="option6"]::after {
  width: 100%;
}

body section .option1:checked ~ .container .items1 {
  visibility: visible;
}

body section .option1:checked ~ .container .items1 li {
  left: 0;
  opacity: 1;
}

body section .option2:checked ~ .container .items2 {
  visibility: visible;
}

body section .option2:checked ~ .container .items2 li {
  top: 0;
  opacity: 1;
}

body section .option3:checked ~ .container .items3 {
  visibility: visible;
}

body section .option3:checked ~ .container .items3 li {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  opacity: 1;
}

body section .option4:checked ~ .container .items4 {
  visibility: visible;
}

body section .option4:checked ~ .container .items4 li {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

body section .option5:checked ~ .container .items5 {
  visibility: visible;
}

body section .option5:checked ~ .container .items5 li {
  left: calc(10% * (var(--i) - 1));
  opacity: 1;
}

body section .option6:checked ~ .container .items6 {
  visibility: visible;
}

body section .option6:checked ~ .container .items6 li {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  opacity: 1;
}

body section .container {
  position: relative;
  -webkit-perspective: 2000px;
          perspective: 2000px;
  /* 第一张 */
  /* 第三张 */
}

body section .container .items {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
}

body section .container .items > ul > li {
  background-size: 1240px 700px;
  position: absolute;
}

body section .container .items1 {
  z-index: 10;
}

body section .container .items1 > ul > li {
  background-image: url("../imges/big412015.jpg");
  height: 20%;
  left: 0;
  opacity: 0;
  -webkit-transition: left .5s,opacity .5s;
  transition: left .5s,opacity .5s;
}

body section .container .items1 li:nth-of-type(1) {
  top: 0;
  background-position: 0 0;
}

body section .container .items1 li:nth-of-type(2) {
  top: 20%;
  background-position: 0 25%;
}

body section .container .items1 li:nth-of-type(3) {
  top: 40%;
  background-position: 0 50%;
}

body section .container .items1 li:nth-of-type(4) {
  top: 60%;
  background-position: 0 75%;
}

body section .container .items1 li:nth-of-type(5) {
  top: 80%;
  background-position: 0 100%;
}

body section .container .items1 li:nth-of-type(2n) {
  left: 100%;
  opacity: 0;
}

body section .container .items1 li:nth-of-type(2n+1) {
  left: -100%;
  opacity: 0;
}

body section .container .items2 {
  z-index: 9;
}

body section .container .items2 > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body section .container .items2 > ul li {
  background-image: url("../imges/big412014.jpg");
  width: 20%;
  top: 0;
  -webkit-transition: top .5s,opacity .5s;
  transition: top .5s,opacity .5s;
}

body section .container .items2 > ul li:nth-of-type(1) {
  left: 0;
  background-position: 0 0;
}

body section .container .items2 > ul li:nth-of-type(2) {
  left: 20%;
  background-position: 25% 0;
}

body section .container .items2 > ul li:nth-of-type(3) {
  left: 40%;
  background-position: 50% 0;
}

body section .container .items2 > ul li:nth-of-type(4) {
  left: 60%;
  background-position: 75% 0;
}

body section .container .items2 > ul li:nth-of-type(5) {
  left: 80%;
  background-position: 100% 0;
}

body section .container .items2 > ul li:nth-of-type(2n) {
  top: 100%;
  opacity: 0;
}

body section .container .items2 > ul li:nth-of-type(2n+1) {
  top: -100%;
  opacity: 0;
}

body section .container .items3 {
  z-index: 8;
}

body section .container .items3 > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body section .container .items3 > ul li {
  background-image: url("../imges/big412013.jpg");
  width: 10%;
  top: 0;
  -webkit-transition: opacity .5s,-webkit-transform .5s;
  transition: opacity .5s,-webkit-transform .5s;
  transition: transform .5s,opacity .5s;
  transition: transform .5s,opacity .5s,-webkit-transform .5s;
  opacity: 0;
  -webkit-transform: rotateY(-65deg);
          transform: rotateY(-65deg);
}

body section .container .items3 > ul li:nth-of-type(1) {
  left: 0;
  background-position: 0 0;
}

body section .container .items3 > ul li:nth-of-type(2) {
  left: 10%;
  background-position: 11% 0;
}

body section .container .items3 > ul li:nth-of-type(3) {
  left: 20%;
  background-position: 22% 0;
}

body section .container .items3 > ul li:nth-of-type(4) {
  left: 30%;
  background-position: 33% 0;
}

body section .container .items3 > ul li:nth-of-type(5) {
  left: 40%;
  background-position: 44% 0;
}

body section .container .items3 > ul li:nth-of-type(6) {
  left: 50%;
  background-position: 55% 0;
}

body section .container .items3 > ul li:nth-of-type(7) {
  left: 60%;
  background-position: 66% 0;
}

body section .container .items3 > ul li:nth-of-type(8) {
  left: 70%;
  background-position: 77% 0;
}

body section .container .items3 > ul li:nth-of-type(9) {
  left: 80%;
  background-position: 88% 0;
}

body section .container .items3 > ul li:nth-of-type(10) {
  left: 90%;
  background-position: 99% 0;
}

body section .container .items4 {
  z-index: 7;
  visibility: visible;
}

body section .container .items4 > ul li {
  background-image: url("../imges/big412006.jpg");
  width: 10%;
  height: 100%;
  left: calc(10% * (var(--i) - 1));
  background-position: calc(11% * (var(--i) - 1)) 0;
  -webkit-transform: translate(50%, -5%);
          transform: translate(50%, -5%);
  opacity: 0;
  -webkit-transition: opacity .5s,-webkit-transform .5s;
  transition: opacity .5s,-webkit-transform .5s;
  transition: transform .5s,opacity .5s;
  transition: transform .5s,opacity .5s,-webkit-transform .5s;
  -webkit-transition-delay: calc(.05s * var(--i));
          transition-delay: calc(.05s * var(--i));
}

body section .container .items5 {
  z-index: 6;
}

body section .container .items5 > ul li {
  background-image: url("../imges/big412005.jpg");
  width: 10%;
  height: 100%;
  background-position: calc(11% * (var(--i) - 1)) 0;
  opacity: 0;
  -webkit-transition: left .5s,opacity .5s;
  transition: left .5s,opacity .5s;
  -webkit-transition-delay: calc(.05s * var(--i));
          transition-delay: calc(.05s * var(--i));
}

body section .container .items6 {
  z-index: 5;
  -webkit-transition-property: 1000px;
  transition-property: 1000px;
}

body section .container .items6 > ul li {
  background-image: url("../imges/big412004.jpg");
  width: 10%;
  height: 100%;
  left: calc(10% * (var(--j) - 1));
  background-position: calc(11% * (var(--j) - 1)) 0;
  opacity: 0;
  -webkit-transform: translate3d(0, -80px, -80px);
          transform: translate3d(0, -80px, -80px);
  -webkit-transition: left 1s,-webkit-transform 1s;
  transition: left 1s,-webkit-transform 1s;
  transition: left 1s,transform 1s;
  transition: left 1s,transform 1s,-webkit-transform 1s;
  -webkit-transition-delay: calc(.1s * var(--i));
          transition-delay: calc(.1s * var(--i));
}

body section .marker {
  width: 100%;
  height: 10%;
  position: absolute;
  bottom: 0;
}

body section .marker ul {
  height: 100%;
  width: 250px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body section .marker ul li label {
  display: block;
  width: 50px;
  height: 20px;
  border-radius: 10px;
  background-color: #7f8fa6;
  margin-right: 20px;
  position: relative;
}

body section .marker ul li label::after {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  border-radius: 10px;
  background-color: #222f3e;
  left: 0;
  -webkit-transition: width .3s;
  transition: width .3s;
}
/*# sourceMappingURL=fenlei.css.map */