@charset "UTF-8";
.movie-cinema {
  background-image: url("../IMG/banner_bg.f7fd103e3b8c16b6f449cce43fc57f45.png");
  height: 376px;
}

.movie-cinema .container {
  width: 1140px;
  padding: 0 30px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* 电影名片 */
  /* 评分 */
}

.movie-cinema .container figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  position: relative;
  top: 50px;
  z-index: 1;
}

.movie-cinema .container figure figcaption {
  margin-top: 25px;
  color: #fff2d5;
  margin-left: 30px;
  /* 按钮 */
}

.movie-cinema .container figure figcaption h1 {
  color: #fff;
  font-size: 26px;
}

.movie-cinema .container figure figcaption p {
  margin-bottom: 10px;
}

.movie-cinema .container figure figcaption p:nth-of-type(1) {
  margin-bottom: 15px;
}

.movie-cinema .container figure figcaption p:nth-of-type(4) {
  margin-bottom: 30px;
}

.movie-cinema .container figure figcaption span {
  display: inline-block;
  width: 120px;
  height: 36px;
  text-align: center;
  line-height: 36px;
  margin-right: 10px;
  background-color: #756189;
  cursor: pointer;
}

.movie-cinema .container figure figcaption i {
  display: inline-block;
  width: 16px;
  height: 14px;
  background-image: url("../IMG/sprite_webpage.png");
  background-position: -74px -60px;
}

.movie-cinema .container figure figcaption span:nth-of-type(2) i {
  background-position: -95px -60px;
}

.movie-cinema .container figure figcaption .more-details {
  width: 250px;
  margin-top: 10px;
}

.movie-cinema .container figure figcaption .more-details a {
  display: block;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  background-color: #df2d2d;
  border-radius: 3px;
}

.movie-cinema .container .appraise {
  margin-left: 90px;
  margin-top: 210px;
  color: #fff;
}

.movie-cinema .container .appraise .s {
  font-size: 12px;
}

.movie-cinema .container .appraise .top {
  margin-top: 5px;
  margin-bottom: 10px;
}

.movie-cinema .container .appraise .top > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.movie-cinema .container .appraise .top .l {
  display: inline-block;
  margin-right: 20px;
  font-size: 26px;
  color: #ffc61c;
}

.movie-cinema .container .appraise .bottom .box-office {
  margin-top: 5px;
  font-size: 26px;
}

.movie-cinema .container .appraise .bottom .box-office span {
  font-size: 12px;
}

/* 筛选 条件 */
.select-cinema {
  width: 1080px;
  margin: 0 auto;
  padding: 0 20px;
  border: 1px solid #e5e5e5;
  margin-top: 40px;
}

.select-cinema > ul {
  font-size: 14px;
}

.select-cinema > ul li {
  padding: 10px 0;
  position: relative;
  border-bottom: 1px dashed #e5e5e5;
}

.select-cinema > ul li div {
  height: 24px;
  line-height: 24px;
  float: left;
  color: #999;
  font-size: 14px;
}

.select-cinema > ul li > ul {
  margin-left: 40px;
  overflow: hidden;
}

.select-cinema > ul li > ul > .first {
  background-color: red;
}

.select-cinema > ul li > ul > .first a {
  color: #fff;
}

.select-cinema > ul li > ul li {
  padding: 3px 9px;
  border-radius: 14px;
  display: inline-block;
  margin-left: 12px;
}

.select-cinema > ul li > ul li:hover:not(:first-child) a {
  color: red;
}

/* 影院列表 */
.main-cinema {
  width: 1120px;
  margin: 0 auto;
  margin-top: 40px;
  /* 翻页 */
}

.main-cinema h3 {
  font-size: 18px;
  border-left: 5px solid #f03d37;
  padding-left: 5px;
}

.main-cinema > ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 0;
  border-bottom: 1px dashed #e5e5e5;
}

.main-cinema > ul li .left .title:hover {
  color: #f03d37;
}

.main-cinema > ul li .left .address {
  color: #999;
  margin-top: 10px;
}

.main-cinema > ul li .right span {
  color: #f03d37;
  font-weight: 700;
  margin-right: 35px;
}

.main-cinema > ul li .right span i {
  font-style: normal;
  font-weight: normal;
}

.main-cinema > ul li .right .pay {
  color: #fff;
  display: inline-block;
  padding: 10px 15px;
  border-radius: 20px;
  background-color: #f03d37;
  -webkit-box-shadow: 0 0 15px 2px #f03d37;
          box-shadow: 0 0 15px 2px #f03d37;
}

.main-cinema .next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 434px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 25px auto 0;
}

.main-cinema .next a {
  display: inline-block;
  padding: 8px 13px;
  font-size: 12px;
  border: 1px solid #d8d8d8;
}

.main-cinema .next a:first-child {
  color: #fff;
  background-color: red;
  border-color: red;
}

.main-cinema .next a:hover:not(:first-child) {
  color: #fff;
  background-color: red;
  border-color: red;
}
/*# sourceMappingURL=cinema.css.map */