@charset "UTF-8";
/* 电影简介 */
.movie {
  background-image: url("../IMG/banner_bg.f7fd103e3b8c16b6f449cce43fc57f45.png");
  height: 376px;
}

.movie .container {
  width: 1140px;
  padding: 0 30px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* 电影名片 */
  /* // 买票 */
}

.movie .container figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  position: relative;
  top: 80px;
  z-index: 1;
}

.movie .container figure figcaption {
  margin-top: 25px;
  color: #fff2d5;
  margin-left: 30px;
  /* 按钮 */
}

.movie .container figure figcaption h1 {
  color: #fff;
  font-size: 26px;
}

.movie .container figure figcaption p {
  margin-bottom: 10px;
}

.movie .container figure figcaption p:nth-of-type(1) {
  margin-bottom: 15px;
}

.movie .container figure figcaption p:nth-of-type(4) {
  margin-bottom: 30px;
}

.movie .container figure figcaption span {
  display: inline-block;
  width: 120px;
  height: 36px;
  text-align: center;
  line-height: 36px;
  margin-right: 10px;
  background-color: #756189;
  cursor: pointer;
}

.movie .container figure figcaption i {
  display: inline-block;
  width: 16px;
  height: 14px;
  background-image: url("../IMG/sprite_webpage.png");
  background-position: -74px -60px;
}

.movie .container figure figcaption span:nth-of-type(2) i {
  background-position: -95px -60px;
}

.movie .container > div {
  margin-top: 160px;
  /* 评分 */
  /*    购买按钮 */
}

.movie .container > div ul {
  margin-bottom: 20px;
  width: 334px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.movie .container > div ul li {
  width: 100px;
  height: 80px;
  border: 1px solid #5b526f;
  text-align: center;
  background-color: #302649;
}

.movie .container > div ul li span:nth-child(1) {
  display: block;
  padding: 2px 3px;
  background-color: #df2d2d;
  font-size: 12px;
  color: #fff;
  font-weight: bolder;
  width: 60px;
  height: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 16px;
  position: relative;
  top: -5px;
  left: 20px;
}

.movie .container > div ul li span:nth-child(2) {
  color: #ffc600;
}

.movie .container > div ul li p {
  color: #cbc9d1;
  font-size: 12px;
  margin-top: 10px;
}

.movie .container > div a {
  display: block;
  width: 100%;
  height: 50px;
  color: #df2d2d;
  font-weight: bold;
  text-align: center;
  line-height: 50px;
  -webkit-transform: perspective(300px);
          transform: perspective(300px);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: all .5s;
  transition: all .5s;
  border-radius: 5px;
  background: #403261;
  -webkit-box-shadow: 15px 15px 40px #362b52, -10px -10px 20px #4a3a70;
          box-shadow: 15px 15px 40px #362b52, -10px -10px 20px #4a3a70;
}

.movie .container > div a:hover {
  color: #fff;
  -webkit-transform: rotateY(-10deg);
          transform: rotateY(-10deg);
  background: #df2d2d;
  -webkit-box-shadow: inset 15px 15px 40px #be2626, inset -10px -10px 20px #ff3434;
          box-shadow: inset 15px 15px 40px #be2626, inset -10px -10px 20px #ff3434;
}

/* 主体 详情 */
main {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  top: -30px;
  background-color: #fff;
  padding-top: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* 左边  电影详情 */
  /* 右边 侧边栏 */
}

main > i {
  position: absolute;
  width: 2px;
  height: 80px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e7e7e7), to(transparent));
  background-image: linear-gradient(to bottom, #e7e7e7, transparent);
  top: 30px;
  left: -2px;
}

main > i:nth-child(2) {
  left: 1200px;
}

main .movieDetails {
  width: 730px;
  /* 导航 */
  /* 剧情简介 */
  /* 演职人员 */
  /* 图集 */
  /* 评论 */
}

main .movieDetails nav {
  position: relative;
}

main .movieDetails nav ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 2px solid #eeeeee;
  font-size: 18px;
}

main .movieDetails nav ul li {
  margin-right: 30px;
}

main .movieDetails nav ul li a {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  position: relative;
}

main .movieDetails nav ul li:nth-child(3) a {
  color: #999;
  pointer-events: none;
}

main .movieDetails nav ul #marker {
  position: absolute;
  left: 0;
  width: 36px;
  height: 2px;
  background-color: #ef4238;
  bottom: 0;
  -webkit-transition: all .5s;
  transition: all .5s;
}

main .movieDetails .jq {
  margin-top: 43px;
  height: 230px;
}

main .movieDetails .jq h2 {
  font-weight: normal;
  font-size: 18px;
  border-left: 3px solid #ef4238;
  padding-left: 10px;
  margin-bottom: 20px;
}

main .movieDetails .jq p {
  font-size: 14px;
  line-height: 26px;
}

main .movieDetails .yanyuan {
  margin-top: 43px;
}

main .movieDetails .yanyuan h2 {
  font-weight: normal;
  font-size: 18px;
  border-left: 3px solid #ef4238;
  padding-left: 10px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .movieDetails .yanyuan h2 a {
  font-size: 14px;
  color: #999;
}

main .movieDetails .yanyuan > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* 导演 */
  /* 演员 */
}

main .movieDetails .yanyuan > div .daoyan {
  font-size: 16px;
  text-align: center;
  margin-right: 30px;
}

main .movieDetails .yanyuan > div .daoyan > p {
  text-align: left;
}

main .movieDetails .yanyuan > div .daoyan img {
  margin: 18px 0;
}

main .movieDetails .yanyuan > div .yanyuans ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .movieDetails .yanyuan > div .yanyuans ul li:not(:first-child) {
  margin-left: 20px;
}

main .movieDetails .yanyuan > div .yanyuans ul li figure {
  font-size: 16px;
  text-align: center;
}

main .movieDetails .yanyuan > div .yanyuans ul li figure img {
  margin: 18px 0;
}

main .movieDetails .yanyuan > div .yanyuans ul li figure span {
  font-size: 14px;
  color: #999;
  margin-top: 5px;
}

main .movieDetails .photo {
  margin-top: 42px;
}

main .movieDetails .photo h2 {
  font-weight: normal;
  font-size: 18px;
  border-left: 3px solid #ef4238;
  padding-left: 10px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .movieDetails .photo h2 a {
  font-size: 14px;
  color: #999;
}

main .movieDetails .photo > img {
  margin-right: 6px;
}

main .movieDetails .photo div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .movieDetails .photo div ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

main .movieDetails .comment {
  margin-top: 60px;
  /* 个个评论 */
}

main .movieDetails .comment input {
  width: 80%;
  height: 0px;
  outline: none;
  border: none;
  margin-left: 30px;
  color: #df2d2d;
  font-size: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 20px;
  -webkit-transition: .3s;
  transition: .3s;
}

main .movieDetails .comment input:focus, main .movieDetails .comment input:valid {
  height: 31px;
  border: 1px solid red;
}

main .movieDetails .comment input:focus ~ .buplish, main .movieDetails .comment input:valid ~ .buplish {
  opacity: 1;
  visibility: visible;
}

main .movieDetails .comment .buplish {
  display: inline-block;
  width: 50px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: red;
  border: 1px solid red;
  border-radius: 15px;
  margin-left: 55px;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .3s;
  transition: .3s;
}

main .movieDetails .comment h2 {
  font-weight: normal;
  font-size: 18px;
  border-left: 3px solid #ef4238;
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

main .movieDetails .comment h2 a {
  display: inline-block;
  width: 62px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: red;
  border: 1px solid red;
  border-radius: 15px;
}

main .movieDetails .comment h2 a label {
  cursor: pointer;
}

main .movieDetails .comment .item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
}

main .movieDetails .comment .item > img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
}

main .movieDetails .comment .item > i {
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("../IMG/v4.png");
  top: 50px;
  left: 30px;
}

main .movieDetails .comment .item .commentText {
  padding: 0px 0 30px;
  border-bottom: 1px solid #e5e5e5;
}

main .movieDetails .comment .item .commentText p:nth-of-type(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #999;
}

main .movieDetails .comment .item .commentText p:nth-of-type(2) i {
  display: inline-block;
  width: 96px;
  height: 16px;
  background-image: url("../IMG/star_icon01.png");
}

main .movieDetails .comment .item .commentText p:nth-of-type(2) span {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: right;
}

main .movieDetails .comment .item .commentText p:nth-of-type(2) span i {
  width: 16px;
  height: 16px;
  background-image: url("../IMG/icon_08.png");
}

main .movieDetails .comment .item .commentText p:nth-of-type(3) {
  line-height: 26px;
  margin-top: 25px;
}

main .aside {
  width: 360px;
  margin-left: 110px;
  /* 相关资讯 */
  /* 电影资讯 */
}

main .aside .asideItmes1 h2 {
  font-weight: normal;
  font-size: 18px;
  border-left: 3px solid #ef4238;
  padding-left: 10px;
  margin-bottom: 20px;
}

main .aside .asideItmes1 figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}

main .aside .asideItmes1 figure figcaption {
  margin-left: 10px;
}

main .aside .asideItmes1 figure figcaption p:nth-child(2) {
  font-size: 14px;
  color: #999;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .aside .asideItmes1 figure figcaption p:nth-child(2) span {
  margin-right: 5px;
}

main .aside .asideItmes2 {
  margin-top: 55px;
}

main .aside .asideItmes2 h2 {
  font-weight: normal;
  font-size: 18px;
  border-left: 3px solid #ef4238;
  padding-left: 10px;
  margin-bottom: 20px;
}

main .aside .asideItmes2 div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main .aside .asideItmes2 div figure {
  text-align: center;
  font-size: 14px;
}

main .aside .asideItmes2 div figure:not(:nth-child(3n)) {
  margin-right: 20px;
}

main .aside .asideItmes2 div figure p:nth-of-type(1) {
  margin: 10px 0 15px;
}

main .aside .asideItmes2 div figure p:nth-of-type(2) {
  color: #ffc600;
  margin-bottom: 20px;
}

/* 页面底部 */
footer {
  margin-top: 120px;
}
/*# sourceMappingURL=details.css.map */