@charset "UTF-8";
.movie-ticket {
  background-image: url("../IMG/banner_bg.f7fd103e3b8c16b6f449cce43fc57f45.png");
  height: 376px;
}

.movie-ticket .container {
  width: 1140px;
  padding: 0 30px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* 电影名片 */
}

.movie-ticket .container figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  position: relative;
  top: 120px;
  z-index: 1;
}

.movie-ticket .container figure .wrapper img {
  width: 292px;
  height: 292px;
  border: 4px solid #fff;
}

.movie-ticket .container figure figcaption {
  width: 410px;
  color: #fff2d5;
  margin-left: 30px;
  font-size: 14px;
}

.movie-ticket .container figure figcaption h2 {
  color: #fff;
  font-size: 26px;
}

.movie-ticket .container figure figcaption > p {
  margin-bottom: 10px;
}

.movie-ticket .container figure figcaption .group-title::after {
  position: relative;
  content: "";
  display: block;
  top: -10px;
  left: 50px;
  border-top: 1px solid #fff2d5;
}

.movie-ticket .container figure figcaption .group-sever {
  font-size: 12px;
  margin-top: 5px;
}

.movie-ticket .container figure figcaption .group-sever li {
  margin-bottom: 5px;
}

.movie-ticket .container figure figcaption .group-sever li span {
  display: inline-block;
  width: 60px;
  height: 20px;
  line-height: 20px;
  border: 1px solid #fff;
  border-radius: 2px;
  text-align: center;
}

.movie-ticket .container figure figcaption .group-sever li p {
  display: inline-block;
  width: 300px;
  margin-left: 5px;
}

/* 电影选场 */
.main-ticket {
  width: 1200px;
  margin: 0 auto;
  margin-top: 120px;
  /* 时间表 */
}

.main-ticket .group-movies {
  /* 电影信息 */
}

.main-ticket .group-movies .show-list {
  position: relative;
  /* 指针 */
}

.main-ticket .group-movies .show-list ul {
  width: 100%;
  height: 280px;
  background-color: #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-ticket .group-movies .show-list .movie {
  width: 162px;
  height: 227px;
  border: 4px solid #fff;
  -webkit-transform: scale(0.82);
          transform: scale(0.82);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.main-ticket .group-movies .show-list .movie:hover {
  border-color: #f24030;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.main-ticket .group-movies .show-list .movie img {
  width: 100%;
}

.main-ticket .group-movies .show-list .pointer {
  position: absolute;
  display: block;
  content: "";
  bottom: 0px;
  left: 85px;
  border-style: solid;
  border-width: 11px 14px;
  border-color: transparent transparent #fff;
}

.main-ticket .group-movies .movies-infor {
  margin-bottom: 30px;
}

.main-ticket .group-movies .movies-infor .warp {
  margin: 26px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-ticket .group-movies .movies-infor .warp .movie-name {
  font-weight: 400;
  font-size: 26px;
  margin-right: 20px;
}

.main-ticket .group-movies .movies-infor .warp .score {
  color: #faaf47;
  font-weight: 400;
  font-size: 24px;
}

.main-ticket .group-movies .movies-infor .warp .score::after {
  content: "分";
  font-size: 12px;
}

.main-ticket .group-movies .movies-infor .desc {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}

.main-ticket .group-movies .movies-infor .desc > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-ticket .group-movies .movies-infor .desc > ul li {
  margin-right: 40px;
}

.main-ticket .group-movies .movies-infor .desc > ul li span {
  color: #999;
}

.main-ticket .screening-list {
  /* 时间表格 */
}

.main-ticket .screening-list .show-date {
  margin-bottom: 30px;
  color: #999;
}

.main-ticket .screening-list .show-date .date-item {
  display: inline-block;
  padding: 2px 10px;
  margin-left: 10px;
  border-radius: 100px;
  color: #333;
}

.main-ticket .screening-list .show-date .date-item:hover {
  background-color: #f03d37;
  color: #fff;
}

.main-ticket .screening-list .date-list .date-table .event {
  background-color: #f7f7f7;
}

.main-ticket .screening-list .date-list .date-table thead th {
  width: 240px;
  padding: 16px 0;
}

.main-ticket .screening-list .date-list .date-table tbody {
  text-align: center;
}

.main-ticket .screening-list .date-list .date-table tbody tr {
  height: 82px;
}

.main-ticket .screening-list .date-list .date-table tbody .begin-time {
  display: block;
  font-size: 18px;
  font-weight: 700;
}

.main-ticket .screening-list .date-list .date-table tbody .end-time {
  font-size: 12px;
  color: #999;
}

.main-ticket .screening-list .date-list .date-table tbody .price {
  font-weight: 700;
  color: #f03d37;
}

.main-ticket .screening-list .date-list .date-table tbody .price::before {
  content: "￥";
  font-size: 12px;
}

.main-ticket .screening-list .date-list .date-table tbody .buy-btn {
  display: inline-block;
  width: 80px;
  height: 30px;
  color: #fff;
  background-color: #f03d37;
  font-size: 14px;
  line-height: 30px;
  border-radius: 100px;
  -webkit-box-shadow: 0 2px 10px -2px #f03d37;
          box-shadow: 0 2px 10px -2px #f03d37;
}

.main-ticket .screening-list .date-list .date-table tbody .buy-btn:hover {
  background-color: #ff5e59;
}
/*# sourceMappingURL=ticket.css.map */